 /* themes */
 #theme {
     margin-left: 60%;
     position: absolute;
     color:black;
     background-color:white;
 }

 /* dark theme */

 body:has(option[value="dark"]:checked){
     background-color: rgb(36, 33, 33);
 }
  body:has(option[value="dark"]:checked) #togglepassword{
      background-color: rgb(36, 33, 33);
  }

 body:has(option[value="dark"]:checked) .form , #theme{
     background-color: rgba(0, 0, 0, 0.479);
     color: white;
     box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);
 }

 body:has(option[value="dark"]:checked) input {
     background-color: rgba(255, 255, 255, 0.945);
 }
 
 /* main page */
 body:has(option[value="dark"]:checked) .container {
     background-color: rgba(0, 0, 0, 0.479);
     color: white;
     box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);

 }

 /* color theme */

 body:has(option[value="colortheme"]:checked){
     background: linear-gradient(40deg,
             rgba(0, 0, 255, 0.9),
             rgba(255, 0, 0, 0.9))
             green;
 }
  body:has(option[value="colortheme"]:checked) #theme {
      background: linear-gradient(40deg,
              rgba(0, 0, 255, 0.9),
              rgba(255, 0, 0, 0.9)) green;
  }
/* register page */
 body:has(option[value="colortheme"]:checked) .form {
     background-image: linear-gradient(40deg, rgba(0, 0, 255, 0.95), rgba(255, 0, 0, 0.95));
     box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.3);
     text-shadow: white;
 }

 body:has(option[value="colortheme"]:checked) input{
     color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px 1px rgba(255, 255, 255, 0.479);
 }
 body:has(option[value="colortheme"]:checked) h1 {
     color: rgb(255, 255, 255);
 }
  /* main page */
 body:has(option[value="colortheme"]:checked) .container {
     background-image: linear-gradient(40deg, rgba(0, 0, 255, 0.95), rgba(255, 0, 0, 0.95));
     box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.3);
     text-shadow: white;

 }
