<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Java</title>
<link rel="stylesheet" href="/quiz.css">
<script src="/answer.js" defer></script>
</head>
<body>
    <div class="quizcontainer">
        <h2>Java Questions</h2>
        <legend>1.Find the Palindrome Word</legend>
           <input type="radio" name="q11" value="Tamil">Tamil
           <input type="radio" name="q11" value="English">English
           <input type="radio" name="q11" value="Malayalam">Malayalam
           <input type="radio" name="q11" value="Telugu">Telugu

        <legend>2.Select the Encapsulation keyword</legend>
           <input type="radio" name="q12" value="list">static
           <input type="radio" name="q12" value="set">private
           <input type="radio" name="q12" value="dict">final
           <input type="radio" name="q12" value="Tuple">return

        <legend>3.Java is an one of this programming language</legend>
           <input type="radio" name="q13" value="OOP">Object-oriented
           <input type="radio" name="q13" value="inter">Interpreted
           <input type="radio" name="q13" value="mk">Markup
           <input type="radio" name="q13" value="comm">Communicate

        <legend>4.Select the correct Java feature</legend>
           <input type="radio" name="q14" value="simple">Simple syntax
           <input type="radio" name="q14" value="Faster">Faster run time
           <input type="radio" name="q14" value="dom">DOM manipulation
           <input type="radio" name="q14" value="power">Powerful 

        <legend>5.Find Private method in Java</legend>
           <input type="radio" name="q15" value="-">__
           <input type="radio" name="q15" value="private">private
           <input type="radio" name="q15" value="#">#
           <input type="radio" name="q15" value="$">$

        <legend>6.Java widely used for ...</legend>
           <input type="radio" name="q16" value="Mobile">Mobile App development
           <input type="radio" name="q16" value="ds">Data science & AI
           <input type="radio" name="q16" value="sd">Software Development
           <input type="radio" name="q16" value="wd">Web Development

        <legend>7.Find the correct Java Function</legend>
           <input type="radio" name="q17" value="def">def
           <input type="radio" name="q17" value="fun">function
           <input type="radio" name="q17" value="void">void
           <input type="radio" name="q17" value="define">define function

        <legend>8.Select the Java packages</legend>
           <input type="radio" name="q18" value="pandas">Pandas
           <input type="radio" name="q18" value="util">util
           <input type="radio" name="q18" value="cv">opencv
        <input type="radio" name="q18" value="npm">npm
   
        <legend>9.Select the appropriate Java Framework</legend>
           <input type="radio" name="q19" value="django">Django
           <input type="radio" name="q19" value="api">FastAPI
           <input type="radio" name="q19" value="spring">SpringBoot
           <input type="radio" name="q19" value="react">React

        <legend>10.Find the Java JDBC usage</legend>
           <input type="radio" name="q20" value="web">web scraping
           <input type="radio" name="q20" value="dbconnection">Database connection
           <input type="radio" name="q20" value="visual">visualization
           <input type="radio" name="q20" value="ml">Machine Learing<br>
        <button type="submit" id="quizbutton">Submit</button>
    <div>
</body>
</html>