<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Main page</title>
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/theme.css">
<!-- <link rel="stylesheet" href="/animation.css"> -->
<script src="/main.js" defer></script>
<script src="/answer.js" defer></script>
</head>
<body>
   <select id="theme">
      <option value="">Themes</option>
      <option value="colortheme">Color</option>
      <option value="dark">Dark</option>
      <option value="white">White</option>
   </select>
   <div class="container">
      <h1>User Information</h1>
        
         <p th:text="${getname}" id="username" name="Name"></p><br>
         <p th:text="${getgender}" id="usergender" name="Gender"></p><br>
         <p th:text="${getemail}" id="useremail" name="Email"></p><br>
         <p th:text="${getphone}" id="userphone" name="Phone"></p><br>
       
         <div class="button">
         <a href="/python" >
            <button type="submit">Python</button></a>
         <a href="/java">
            <button type="submit">Java</button></a>
        <a href="/login">
           <button type="submit" id="btn1">Back</button></a>
         </div>

   </div> 
</body>
</html>